.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}



.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
}

hr {
  color: #EAF6F6;
  border-style: dotted none none none;
  border-width: 8px;
  width: 5%;
  margin: 100px auto;
}
.profile {
  margin-top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-picture {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hobbies-picture {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-picture {
  width: 200px;
}

.middle-container {}

.bottom-container {
  font-weight: bold;
height: 120px;
background-color: #66BFBF;
margin: 100px 0 0 0;
padding-top: 60px;
}
.bottom-container .footer-link {

  margin-left: 50px;
  margin-right: 70px;
  font-family: 'Montserrat', sans-serif;
}
.footer-p {
  color: #EAF6F6;
  margin-top: 50px;

}
.contact-me p {
  margin-bottom: 80px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
